body{}
.Home-picdiv{
    position: absolute;
    top: 109px;
    bottom: 80px;
    left: 0;
    right: 0;
    background-image: url("./mainpic.jpg");
    background-size: 100% 100%;
}

.Home-picdiv p{
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
    color: white;
}